*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(39, 35, 35);
}

/* NAvIGATION CSS */

nav{
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav img{
    width: 33px;
    border-radius: 100px;
}

.navitem1{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    gap: 15px;
}

#searchbar{
    height: 30px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
}

.Premiumtouch a{
  color: rgba(255, 255, 255, 0.74);
  padding-right: 25px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
}

.Premiumtouch a:hover{
    color: white;
    font-size: 18px;
}

#log-in-button{
    width: 110px;
    height: 47px;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    font-family: serif;
    font-weight: 700;
}
  
#log-in-button:hover{
  background-color: rgba(255, 255, 255, 0.911);
  font-size: 19px;
}

/* LEFT-BOX */

.left-box{
    color: white;
    border: 2px solid black;
    background-color: rgba(3, 1, 1, 0.918);
    border-radius: 10px;
    width: 25vw;
    height: 80vh;
    margin: 20px;
    position: fixed;
}

.top-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    font-size: 18.7px;
    gap: 190px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
}

#plus-sign:hover{
     color: grey;
    font-weight: 900;
}

.play-list-creation{
    color: white;
    background-color: rgba(37, 37, 37, 0.918);
    border-radius: 10px;
    width: 22vw;
    height: 35vh;
    margin-top: 55px;
    margin-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: black;
    /* overflow-block: hidden; */
}

.first-playlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background-color: rgba(37, 37, 37, 0.918);
    border: 1px solid rgba(0, 0, 0, 0.753);
    border-radius: 20px;
    width: 19vw;
    height: 25vh;
    margin: 20px;
    padding: 10px;
    margin-top: 2\5px;
}

#plybutton{
    width: 110px;
    height: 35px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: serif;
}
#plybutton:hover{
   width: 115px;
    height: 38px;
    border: 1px solid black;
    border-radius: 15px;
    color: rgb(122, 68, 68);
    font-weight: 700;
}

.podcast{
    margin: 20px;
    margin-top: 20px;
     background-color: rgba(37, 37, 37, 0.918);
    border: 1px solid rgba(0, 0, 0, 0.753);
    border-radius: 20px;
     width: 19vw;
    height: 25vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#BrowseBTN{
    width: 110px;
    height: 35px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: serif;
}

#BrowseBTN:hover{
   width: 115px;
    height: 38px;
    border: 1px solid black;
    border-radius: 15px;
    color: rgb(122, 68, 68);
    font-weight: 700;
}

.left-box-footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    margin: 12px;
    padding-top: 15px;
    text-align: center;
    padding: 2px;
    margin-top: 17px;
   
}
table, th, td {
    text-align: center;
  column-gap: 5px;
  height: 40px;
  padding: 6px;
  margin: 10px;
  font-size: 13px;
  font-weight: 100;
}

#cid{
    margin: 20px;
    padding-left: 18px;
}
#language{
    padding: 15px;
    margin: 20px;
    width: 120px;
    border-radius: 20px;
    background-color: rgb(255, 12, 12);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#language:hover{
   background-color: black;
   color: aliceblue;
}

/* Right-Box- CSS */

.right-box{
    width: 71vw;
    background-color: rgba(37, 37, 37, 0.918);
    border: 1px solid black;
    border-radius: 10px;
    height: 80vh;
    float: right;
    margin: 20px;
    position: relative;
    color: white;
}

.Right-Box-headPoint{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    font-family: sans-serif;
}

.Right-Box-headPoint  a{
    color: rgba(255, 255, 255, 0.507);
    text-decoration: none;
}

.Right-Box-headPoint  a:hover{
    color: rgba(255, 255, 255, 0.507);
    text-decoration: underline;
}
.musics:hover{
  
}

.musics a{
   color: white;
   text-decoration: none;
   text-align: center;
   padding-left: 19px;
   font: 200;
   font-size: 18px;
}
.musics a:hover{
   text-decoration: underline;
   cursor: pointer;
}

.saiyaara:hover{
        background-color: rgba(0, 0, 0, 0.548);
        cursor: pointer;
}

.saiyaara{
    width: 250px;
    height: 300px;
    margin: 10px;
}

.saiyaara p{
    padding: 14px;
    color: rgb(197, 197, 197);
}

.saiyaara p:hover{
    text-decoration: underline;
}

#saiyaar-img{
    width: 240px;
    overflow-x: hidden;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: 10px;
}

#saiyaara-audio{
    display: none ;
}

#saiyaara-button{
   float: right;
   border-radius: 50%;
   background-color: green;
   text-align: center;
   margin-right: 10px;
   margin-top: 5px;
}

#saiyaara-button:hover{
   float: right;
   border-radius: 50%;
   background-color: green;
}