*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-Y: hidden ;
}
.page-item{
 display: flex;
justify-content: center;
align-items: center;
gap: 14%;
margin: 70px;
cursor: pointer;
}

.about{
    margin: 80px;
    padding-top: 50px;
    width: 510px;
    height: 500px;
    cursor: pointer;

}
 .about h1{
  color: white;
  font-size: 80px;

}

 .about p{
  color: white;
  font-size: 20px;
  margin: 10px;
}

.social-medial-apps{
    display: flex;
    margin: 25px 20px;
    gap: 10px;
}

.social-medial-apps img{
    border-radius: 300px;
     width: 60px;
     height: 20px;
}

.sign-in{
      width: 300px;
    height: 500px;
    color: white;
    padding-top: 30px;
}

.sign-in h1{
   text-align: center;
}

.sign-in p, input{
    padding-top: 12px;
padding-right: 30px;
 font-size: 22px;
}

.sign-in  input{
   margin-top: 2px;
   text-align: justify;
}

#checkbox{
    margin-top: 15px;
}

button {
    background-color: #ffc04c;
    width: 90px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
      background-image: url(back.jpg);
       color: skyblue;
       transform: translateY(-2px);
}

a{
    text-decoration: none;
    color: white;
    margin: 25px;
}

#policy{
    color: grey;
    text-align: justify;
    font: 200;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
}

h2{
    color: white;
}